<section>
  <div class="container-fluid">
    <div class="row thePage">
        <div id="resultsDivContainer">
          <div id='loaderDiv'>
            <img *ngIf="isLoaderShown" src="/assets/rpc/loader.gif">
          </div>
        <div class="col-md-1"></div>
          <div class="col-md-3" id="resultsDiv">
            <span *ngIf="!gameResult?.result">
              Let's Play!
            </span>
            <span *ngIf="gameResult?.computersMove == 1">
              Rock
            </span>
            <span *ngIf="gameResult?.computersMove == 2">
              Paper
            </span>
            <span *ngIf="gameResult?.computersMove == 3">
              Scissors
            </span>
          </div>
          <div class="col-md-4" class="resultImgDiv">
            <img *ngIf="gameResult?.result == 1" src="/assets/rpc/win.png">
            <img *ngIf="gameResult?.result == 2" src="/assets/rpc/lose.png">
            <img *ngIf="gameResult?.result == 3" src="/assets/rpc/draw.png">
          </div>
        </div>

      <hr id="dividerLine">
      <div>
        <div class='bottomDiv col-md-12'>
          
            <div moveVal=1 (click)='selectedOption(1)' id='1' class='optionDiv col-md-4'>
              <span>
                Rock
              </span>
            </div>
            <div moveVal=2 (click)='selectedOption(2)' id='2' class='optionDiv col-md-4'>
              <span>
                Paper
              </span>
            </div>
            <div moveVal=3 (click)='selectedOption(3)' id='3' class='optionDiv col-md-4'>
              <span>
                Scissors
              </span>
            </div>
        </div>
      </div>
        
          
    </div>
  </div>
</section>